html, body, tr, td, hr {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #000000;
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

article {
  max-width: 800px;
  margin: auto;
}

a:link {
  color: #000000;
}

a:visited {
  color: #555555;
}

a:active {
  color: #000000;
}

a:hover {
  color: #999999;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}
